* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: rgb(253, 253, 253);
}


div {
  width: 50px;
  height: 150px;
  background-color: black;
}

/* box */

.box {
  color: wheat;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* animation-timing-function: cubic-bezier(.51,1.51,.49,-0.3); */
  animation-direction:alternate-reverse;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* box1 */ 

.box1 {
  color: wheat;
  background: rgb(0, 0, 0);
  animation-name: blink1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-timing-function: cubic-bezier(.51,1.51,.49,-0.3); */
}

@keyframes blink1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} 

/* box2 */


.box2 {
  color: rgb(77, 76, 75);
  animation-name: blink2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-timing-function: cubic-bezier(.51,1.51,.49,-0.3); */
}

@keyframes blink2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} 


/* box3 */

.box3 {
  color: wheat;
  animation-name: blink3;
  animation-duration: .25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-timing-function: cubic-bezier(.51,1.51,.49,-0.3); */
}

@keyframes blink3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* box4 */

.box4 {
  color: wheat;
  animation-name: blink4;
  animation-duration: 125ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-timing-function: cubic-bezier(.51,1.51,.49,-0.3); */
}

@keyframes blink4 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}